In [1]:
%load_ext watermark
%watermark -v -n -m -p pandas

Python implementation: CPython
Python version       : 3.8.10
IPython version      : 7.25.0

pandas: 1.3.1

Compiler    : GCC 9.3.0
OS          : Linux
Release     : 4.15.0-151-generic
Machine     : x86_64
Processor   : x86_64
CPU cores   : 40
Architecture: 64bit

In [2]:
import pandas as pd

In [3]:
TRAIN_IMAGES = "/data/raw/panda/train_images/"
df = pd.read_csv("/data/raw/panda/train.csv")

# Change negative gleason_score to 0+0
df["gleason_score"] = df["gleason_score"].apply(lambda x: "0+0" if x=="negative" else x)

In [4]:
table1 = df.groupby(["data_provider", "isup_grade"]).size().reset_index(name="counts")
table1.style.background_gradient(cmap="Purples", vmin=5)

In [5]:
df.sample(10)

,image_id,data_provider,isup_grade,gleason_score
10053,f3273751f723042683d45d00d3880c8c,karolinska,0,0+0
4494,6eff61540d687bb80f2eda923b2dca9b,radboud,5,4+5
7222,afa5ed8df00c981e8e4db6ba7799472c,karolinska,1,3+3
6237,98ba51c7a4ca7316ff1bc776365ca14d,radboud,3,4+3
9130,dc7825252bd5c07e9a31c0651c989c77,radboud,0,0+0
9193,de25838fbbd4c64febcac5c2a7c094bc,karolinska,1,3+3
8242,c6fb997f235db1a874d4e4f208e8e84e,karolinska,0,0+0
4954,7a40364bb1370598575caac647f1635f,karolinska,0,0+0
4719,74c2ad4cf2820e6ede00c6c4fb3e4ab2,karolinska,4,4+4
548,0dccbb58add854759951038d5ee736ab,radboud,1,3+3